.hero-image-fetch-wrapper{
    position: relative;
    max-width: 100%;
    min-width: 18rem;
    min-height: 100vh;
    
  
}
.hero-image-fetch-wrapper .images-content-wrapper .logo-search-wrapper{
    display: flex;   
    padding-top: 5rem;
    height: 100%;
    justify-content: center;

}

.images-content-wrapper .searchWrapper{
    display: flex;
    width: 100%;
    position: relative;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 2rem;
}
.images-content-wrapper .images-listing-wrapper{
    min-width: 100%;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns:repeat(auto-fill, 300px) ;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 3rem;
}
img{
       object-fit: cover;

}



.images-content-wrapper .images-listing-wrapper .image-wrapper{
    width: 270px;
    height: 230px;
    margin-bottom: 2rem;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #eee;
    -webkit-box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px -3px rgba(0,0,0,0.75);
}


.button-wrapper{

    display: flex;
    justify-content: center;
    gap: 60;
    
    
}

